In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('h1b_kaggle.csv')

In [7]:
data.head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO",-104.990251,39.739236
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003

## Data Cleansing

In [10]:
data.isna().sum()

Unnamed: 0                 0
CASE_STATUS               13
EMPLOYER_NAME             59
SOC_NAME               17734
JOB_TITLE                 43
FULL_TIME_POSITION        15
PREVAILING_WAGE           85
YEAR                      13
WORKSITE                   0
lon                   107242
lat                   107242
dtype: int64

In [31]:
data.fillna(0,inplace=True)
data.drop_duplicates(inplace=True)

In [14]:
data.isna().sum()

Unnamed: 0            0
CASE_STATUS           0
EMPLOYER_NAME         0
SOC_NAME              0
JOB_TITLE             0
FULL_TIME_POSITION    0
PREVAILING_WAGE       0
YEAR                  0
WORKSITE              0
lon                   0
lat                   0
dtype: int64

In [4]:
data.head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO",-104.990251,39.739236
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003

### 6.1 Petition distributed by case statuses

In [15]:
data["CASE_STATUS"].value_counts()

CERTIFIED                                             2615623
CERTIFIED-WITHDRAWN                                    202659
DENIED                                                  94346
WITHDRAWN                                               89799
PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED         15
0                                                          13
REJECTED                                                    2
INVALIDATED                                                 1
Name: CASE_STATUS, dtype: int64

### 6.2 Top employers filing the petitions

In [16]:
data["EMPLOYER_NAME"].value_counts().head()

INFOSYS LIMITED                      130592
TATA CONSULTANCY SERVICES LIMITED     64726
WIPRO LIMITED                         48117
DELOITTE CONSULTING LLP               36742
IBM INDIA PRIVATE LIMITED             34219
Name: EMPLOYER_NAME, dtype: int64

### 6.3 Top 15 companies that filed the most visa application

In [17]:
data["EMPLOYER_NAME"].value_counts().head(15)

INFOSYS LIMITED                                    130592
TATA CONSULTANCY SERVICES LIMITED                   64726
WIPRO LIMITED                                       48117
DELOITTE CONSULTING LLP                             36742
IBM INDIA PRIVATE LIMITED                           34219
ACCENTURE LLP                                       33447
MICROSOFT CORPORATION                               25576
HCL AMERICA, INC.                                   22678
ERNST & YOUNG U.S. LLP                              18232
COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION     17528
LARSEN & TOUBRO INFOTECH LIMITED                    17457
CAPGEMINI AMERICA INC                               16725
GOOGLE INC.                                         16473
IBM CORPORATION                                     13276
IGATE TECHNOLOGIES INC.                             12564
Name: EMPLOYER_NAME, dtype: int64

### 3.Top employers granting maximum prevailing wages

In [18]:
max_data=data.groupby('EMPLOYER_NAME')['PREVAILING_WAGE'].max().sort_values(ascending=False)
sorted_data = pd.DataFrame({'MAX_PREVAILING_WAGE': max_data})
sorted_data.head(5)

                                     MAX_PREVAILING_WAGE
EMPLOYER_NAME
GUARDIAN HEALTHCARE PROVIDERS, INC.         6.997607e+09
SCIVANTAGE, INC.                            1.007814e+09
DISCOVER PRODUCTS INC.                      8.201323e+08
IDEXCEL, INC.                               7.099999e+08
COMMONHEALTH ACTION                         6.579000e+08

### 4. Top 20 states filing highest visa petitions

In [19]:
data['STATE'] = data['WORKSITE'].str.split(',').str[-1].str.strip()
data['STATE'].value_counts().head(20)

CALIFORNIA        559942
TEXAS             294455
NEW YORK          291412
NEW JERSEY        214078
ILLINOIS          160814
MASSACHUSETTS     116466
PENNSYLVANIA      109960
FLORIDA           105773
GEORGIA           103168
WASHINGTON        102801
VIRGINIA           90028
MICHIGAN           82964
NORTH CAROLINA     79672
OHIO               76575
MARYLAND           56257
CONNECTICUT        50253
MINNESOTA          48686
ARIZONA            42054
MISSOURI           34813
WISCONSIN          32672
Name: STATE, dtype: int64

### 5.Petition distribution by year

In [20]:
data["YEAR"].value_counts()

2016.0    647803
2015.0    618727
2014.0    519427
2013.0    442114
2012.0    415607
2011.0    358767
0.0           13
Name: YEAR, dtype: int64

### 6. Number of visa petitions denied

In [21]:
data[data["CASE_STATUS"]=="DENIED"].shape[0]

94346

### 7.Rate of visas denied from last 5 years

In [67]:
denied_cases =data[data['CASE_STATUS'] == 'DENIED']
deny_count=denied_cases["YEAR"].value_counts()
total_count=data["YEAR"].value_counts()
rate=(deny_count/total_count)*100
rate_data=pd.DataFrame({'Denial_Rate': rate})
rate_data.dropna(inplace=True)
rate_data.tail(5).iloc[::-1]

        Denial_Rate
2016.0     1.416326
2015.0     1.765399
2014.0     2.290216
2013.0     2.742732
2012.0     5.075949

### 8.Number of visa petitions filed by states

In [24]:
data['STATE'] = data['WORKSITE'].str.split(',').str[-1].str.strip()
data['STATE'].value_counts()

CALIFORNIA              559942
TEXAS                   294455
NEW YORK                291412
NEW JERSEY              214078
ILLINOIS                160814
MASSACHUSETTS           116466
PENNSYLVANIA            109960
FLORIDA                 105773
GEORGIA                 103168
WASHINGTON              102801
VIRGINIA                 90028
MICHIGAN                 82964
NORTH CAROLINA           79672
OHIO                     76575
MARYLAND                 56257
CONNECTICUT              50253
MINNESOTA                48686
ARIZONA                  42054
MISSOURI                 34813
WISCONSIN                32672
COLORADO                 32038
INDIANA                  30516
TENNESSEE                27673
OREGON                   23790
DISTRICT OF COLUMBIA     22708
DELAWARE                 18138
IOWA                     16743
ARKANSAS                 14762
KANSAS                   13782
UTAH                     13107
SOUTH CAROLINA           12932
KENTUCKY                 12702
RHODE ISLAND             11717
LOUISIANA                11669
OKLAHOMA                 10597
ALABAMA                  10253
NEW HAMPSHIRE             9929
NEBRASKA                  9256
NEVADA                    7448
NEW MEXICO                5541
MISSISSIPPI               4270
IDAHO                     4191
MAINE                     3918
HAWAII                    3752
NA                        3604
WEST VIRGINIA             3079
NORTH DAKOTA              2927
VERMONT                   1941
SOUTH DAKOTA              1902
PUERTO RICO               1452
ALASKA                    1396
MONTANA                    986
WYOMING                    896
Name: STATE, dtype: int64

### 9.Rate of denial of visa petition by the states

In [49]:
denied_cases =data[data['CASE_STATUS'] == 'DENIED']
deny_count=denied_cases['STATE'].value_counts()
total_count=data['STATE'].value_counts()
rate=(deny_count/total_count)*100
rate_data=pd.DataFrame({'Denial_Rate': rate})
rate_data

                      Denial_Rate
ALABAMA                  5.091193
ALASKA                  11.318052
ARIZONA                  2.751225
ARKANSAS                 2.255792
CALIFORNIA               3.168185
COLORADO                 3.567638
CONNECTICUT              2.459555
DELAWARE                 2.023376
DISTRICT OF COLUMBIA     5.205214
FLORIDA                  5.272612
GEORGIA                  2.671371
HAWAII                  10.394456
IDAHO                    4.628967
ILLINOIS                 2.453145
INDIANA                  2.726439
IOWA                     2.610046
KANSAS                   3.156291
KENTUCKY                 3.369548
LOUISIANA                5.304653
MAINE                    3.471159
MARYLAND                 3.741757
MASSACHUSETTS            3.115931
MICHIGAN                 2.699966
MINNESOTA                2.310726
MISSISSIPPI              6.510539
MISSOURI                 2.318100
MONTANA                  8.519270
NA                      20.227525
NEBRASKA                 3.035869
NEVADA                   8.096133
NEW HAMPSHIRE            2.266089
NEW JERSEY               2.294958
NEW MEXICO               5.775131
NEW YORK                 4.331325
NORTH CAROLINA           2.303193
NORTH DAKOTA             4.953878
OHIO                     2.442050
OKLAHOMA                 4.435218
OREGON                   2.681799
PENNSYLVANIA             2.496362
PUERTO RICO             15.358127
RHODE ISLAND             2.372621
SOUTH CAROLINA           4.206619
SOUTH DAKOTA             4.679285
TENNESSEE                3.100495
TEXAS                    2.917933
UTAH                     4.386969
VERMONT                  5.461103
VIRGINIA                 3.170125
WASHINGTON               1.946479
WEST VIRGINIA            4.969146
WISCONSIN                2.212904
WYOMING                 11.049107

### 10. Top 25 job titles

In [26]:
data["JOB_TITLE"].value_counts().head(25)

PROGRAMMER ANALYST             249038
SOFTWARE ENGINEER              121307
COMPUTER PROGRAMMER             70570
SYSTEMS ANALYST                 61965
SOFTWARE DEVELOPER              42907
BUSINESS ANALYST                39681
COMPUTER SYSTEMS ANALYST        35086
TECHNOLOGY LEAD - US            28350
SENIOR SOFTWARE ENGINEER        27133
TECHNOLOGY ANALYST - US         26055
ASSISTANT PROFESSOR             25265
SENIOR CONSULTANT               24904
CONSULTANT                      23081
PHYSICAL THERAPIST              20207
PROJECT MANAGER                 20172
DATABASE ADMINISTRATOR          16665
ACCOUNTANT                      14048
COMPUTER PROGRAMMER ANALYST     13634
RESEARCH ASSOCIATE              13623
DEVELOPER                       12909
ASSOCIATE                       12502
ANALYST                         11751
LEAD ENGINEER                   11157
COMPUTER SYSTEMS ENGINEER       11090
SENIOR SOFTWARE DEVELOPER       10208
Name: JOB_TITLE, dtype: int64

### 11.Top 10 occupations with the highest wages

In [27]:
max_data=data.groupby('JOB_TITLE')['PREVAILING_WAGE'].max().sort_values(ascending=False)
sorted_data = pd.DataFrame({'MAX_PREVAILING_WAGE': max_data})
sorted_data.head(10)

                                       MAX_PREVAILING_WAGE
JOB_TITLE
PHYSICAL THERAPISTS                           6.997607e+09
SOFTWARE DEVELOPER                            1.007814e+09
PROJECT MANAGER                               8.201323e+08
.NET DEVELOPER                                7.099999e+08
PROGRAM MANAGER (POSITIVE PATHWAYS)           6.579000e+08
PROGRAMMER/ANALYST                            6.169317e+08
RESEARCH ASSOCIATE                            4.134726e+08
MANAGER, SOFTWARE ENGINEERING                 4.103154e+08
MANAGING DIRECTOR, EQUITY DERIVATIVES         4.066379e+08
INTERNIST                                     3.893760e+08

### 12 To analyse the fraction of full-time and part-time workers

In [32]:
data["FULL_TIME_POSITION"].value_counts()

Y    2576111
N     426332
0         15
Name: FULL_TIME_POSITION, dtype: int64

In [33]:
data["FULL_TIME_POSITION"].replace({0:"N"},inplace=True)

In [34]:
data["FULL_TIME_POSITION"].value_counts()

Y    2576111
N     426347
Name: FULL_TIME_POSITION, dtype: int64

In [35]:
count=data["FULL_TIME_POSITION"].value_counts()
total=data["FULL_TIME_POSITION"].value_counts().sum()
fra=count/total
fractions_df = pd.DataFrame({'Worker Type': ['Full-time', 'Part-time'],
                             'Fraction': fra})
fractions_df

  Worker Type  Fraction
Y   Full-time  0.858001
N   Part-time  0.141999